
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #152238;
  font-weight: bold;
  background-color: rgba(0,0,0,0.05);
  width: 100vw;
  min-height: 100vh;
}

